body {
  margin: 0;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  background: #f8eadc;
  color: #fad9b8;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
